In [4]:
import sqlite3

# Function to connect to the database and create tables if they don't exist
def create_tables():
    try:
        sqlconnection = sqlite3.connect("Hospital.db")
        cursor = sqlconnection.cursor()
        print("Database connected successfully")

        # Create Hospital Table
        cursor.execute("""
        CREATE TABLE IF NOT EXISTS Hospital (
            Hospital_Id INTEGER PRIMARY KEY,
            Hospital_Name TEXT NOT NULL,
            Capacity INTEGER NOT NULL
        );
        """)

        # Create Doctor Table
        cursor.execute("""
        CREATE TABLE IF NOT EXISTS Doctor (
            Doctor_Id INTEGER PRIMARY KEY,
            Doctor_Name TEXT NOT NULL,
            Hospital_Id INTEGER NOT NULL,
            JoiningDate TEXT NOT NULL,
            Specialty TEXT NOT NULL,
            Salary INTEGER NOT NULL,
            ExperienceInYears INTEGER DEFAULT 0,
            FOREIGN KEY (Hospital_Id) REFERENCES Hospital (Hospital_Id)
        );
        """)

        sqlconnection.commit()
        print("Tables created successfully (if not already existing).")

    except sqlite3.Error as error:
        print("Error:", error)
    finally:
        sqlconnection.close()


# Function to insert sample data if tables are empty
def insert_sample_data():
    try:
        sqlconnection = sqlite3.connect("Hospital.db")
        cursor = sqlconnection.cursor()

        # Check if tables are empty before inserting data
        cursor.execute("SELECT COUNT(*) FROM Hospital")
        hospital_count = cursor.fetchone()[0]

        cursor.execute("SELECT COUNT(*) FROM Doctor")
        doctor_count = cursor.fetchone()[0]

        if hospital_count == 0:
            cursor.executescript("""
            INSERT INTO Hospital VALUES (101, 'Mayo Clinic', 230);
            INSERT INTO Hospital VALUES (102, 'JP Hopkins', 130);
            INSERT INTO Hospital VALUES (103, 'New Amsterdam', 200);
            INSERT INTO Hospital VALUES (104, 'Cleveland Clinic', 30);
            INSERT INTO Hospital VALUES (105, 'Toronto Hospital', 180);
            INSERT INTO Hospital VALUES (106, 'Natura', 150);
            INSERT INTO Hospital VALUES (107, 'Johnson and Johnson', 600);
            """)

        if doctor_count == 0:
            cursor.executescript("""
            INSERT INTO Doctor VALUES (1, 'Michael', 101, '2005-02-10', 'Pediatric', 100000, 0);
            INSERT INTO Doctor VALUES (2, 'Linda', 101, '2007-08-08', 'Gyane', 120000, 0);
            INSERT INTO Doctor VALUES (3, 'William', 102, '2004-09-11', 'Cardiologist', 150000, 0);
            INSERT INTO Doctor VALUES (4, 'Richard', 101, '2011-09-05', 'Pediatric', 95000, 0);
            INSERT INTO Doctor VALUES (5, 'Karen', 103, '2020-09-05', 'Oncologist', 180000, 0);
            INSERT INTO Doctor VALUES (6, 'Robert', 104, '1998-09-04', 'Gyane', 130000, 0);
            INSERT INTO Doctor VALUES (7, 'Susan', 105, '1994-06-05', 'Oncologist', 170000, 0);
            INSERT INTO Doctor VALUES (8, 'Nancy', 106, '1994-06-05', 'Cardiologist', 155000, 0);
            INSERT INTO Doctor VALUES (9, 'Nick', 107, '2019-06-05', 'Cardiologist', 140000, 0);
            """)

        sqlconnection.commit()
        print("Sample data inserted successfully (if tables were empty).")

    except sqlite3.Error as error:
        print("Error:", error)
    finally:
        sqlconnection.close()


# Function to fetch hospital and doctor details by their IDs
def fetch_hospital_and_doctor(hospital_id, doctor_id):
    try:
        sqlconnection = sqlite3.connect("Hospital.db")
        cursor = sqlconnection.cursor()

        cursor.execute("SELECT * FROM Hospital WHERE Hospital_Id = ?", (hospital_id,))
        hospital = cursor.fetchone()

        cursor.execute("SELECT * FROM Doctor WHERE Doctor_Id = ?", (doctor_id,))
        doctor = cursor.fetchone()

        if hospital:
            print("\nHospital Details:", hospital)
        else:
            print("\nNo hospital found with ID:", hospital_id)

        if doctor:
            print("Doctor Details:", doctor)
        else:
            print("No doctor found with ID:", doctor_id)

    except sqlite3.Error as error:
        print("Error:", error)
    finally:
        sqlconnection.close()


# Function to get doctors by specialty and salary
def get_doctors_by_specialty_and_salary(specialty, min_salary):
    try:
        sqlconnection = sqlite3.connect("Hospital.db")
        cursor = sqlconnection.cursor()

        query = "SELECT * FROM Doctor WHERE Specialty = ? AND Salary >= ?"
        cursor.execute(query, (specialty, min_salary))
        doctors = cursor.fetchall()

        if doctors:
            print("\nDoctors matching the criteria:")
            for doctor in doctors:
                print(doctor)
        else:
            print("\nNo doctors found with the given specialty and salary criteria.")

    except sqlite3.Error as error:
        print("Error:", error)
    finally:
        sqlconnection.close()


# Function to get doctors by hospital
def get_doctors_by_hospital(hospital_id):
    try:
        sqlconnection = sqlite3.connect("Hospital.db")
        cursor = sqlconnection.cursor()

        query = "SELECT * FROM Doctor WHERE Hospital_Id = ?"
        cursor.execute(query, (hospital_id,))
        doctors = cursor.fetchall()

        if doctors:
            print("\nDoctors in Hospital ID:", hospital_id)
            for doctor in doctors:
                print(doctor)
        else:
            print("\nNo doctors found in this hospital.")

    except sqlite3.Error as error:
        print("Error:", error)
    finally:
        sqlconnection.close()


# Function to update doctor's experience in years
def update_experience_in_years():
    try:
        sqlconnection = sqlite3.connect("Hospital.db")
        cursor = sqlconnection.cursor()
        print("\nUpdating doctor experience...")

        query = """
        UPDATE Doctor
        SET ExperienceInYears = CAST((JULIANDAY(CURRENT_DATE) - JULIANDAY(JoiningDate)) / 365.25 AS INTEGER);
        """
        cursor.execute(query)
        sqlconnection.commit()

        print("Doctor experience updated successfully.")

    except sqlite3.Error as error:
        print("Error:", error)
    finally:
        sqlconnection.close()


# MAIN EXECUTION
if __name__ == "__main__":
    create_tables()
    insert_sample_data()

    # Fetch hospital and doctor details
    fetch_hospital_and_doctor(101, 1)

    # Get doctors by specialty and salary
    get_doctors_by_specialty_and_salary("Cardiologist", 120000)

    # Get doctors from a given hospital
    get_doctors_by_hospital(101)

    # Update experience in years
    update_experience_in_years()

Database connected successfully
Tables created successfully (if not already existing).
Sample data inserted successfully (if tables were empty).

 (101, 'Mayo Clinic', 230)
Doctor Details: (1, 'Michael', 101, '2005-02-10', 'Pediatric', 100000, 20)

Doctors matching the criteria:
(3, 'William', 102, '2004-09-11', 'Cardiologist', 150000, 20)
(8, 'Nancy', 106, '1994-06-05', 'Cardiologist', 155000, 30)
(9, 'Nick', 107, '2019-06-05', 'Cardiologist', 140000, 5)

 101ors in Hospital ID:
(1, 'Michael', 101, '2005-02-10', 'Pediatric', 100000, 20)
(2, 'Linda', 101, '2007-08-08', 'Gyane', 120000, 17)
(4, 'Richard', 101, '2011-09-05', 'Pediatric', 95000, 13)

Updating doctor experience...
Doctor experience updated successfully.